NEXT_PUBLIC_SANITY_PROJECT_ID=e4y15utr
NEXT_PUBLIC_SANITY_DATASET=production-v2
NEXT_PUBLIC_SANITY_API_VERSION=2025-08-29
NEXT_PUBLIC_SANITY_STUDIO_URL=http://localhost:3333

SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=
